header {
    background-color: darkslategrey;
    color: aliceblue;
}

body {
    background-color: #eceeef;
}

.navbar {
    background-color: darkslategrey;
}

.nav {
    display: flex;
    background-color: darkslategrey;
}

.nav-tabs {
    border-bottom: 0;
}

.navbar-brand {
    padding-bottom: 0;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo h2 {
    align-self: center;
    margin-left: 10px;
}

.logo img {
    align-self: center;
}

.enlaces {
    flex: 1;
}

.card {
    background-color: unset;
    border: 0;
}

.card-footer {
    padding: 0;
    background-color: unset;
    border-top: 0;
}

.encabezado .nav ul {
    display: flex;
    list-style: none;
}

.nav ul li {
    margin-right: 5px;
    padding: 10px;
}

.nav ul li:hover {
    transition: 1s;
}

.navbar-nav .nav-item a.nav-link:hover {
    color: silver;
    transition: 1s;
}

.navbar-nav .nav-item a.nav-link {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;

}

.nav ul li img {
    border-radius: 10px;
}

.first {
    background: url("../images/hortalizas.jpg") no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.first .section1 {
    text-align: center;
    background-color: rgb(211, 208, 208);
    width: 80%;
    opacity: .7;
    margin: auto;
    color: black;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 20px;
    font-family: sans-serif;
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: .5em;
    background-color: #eceeef;
    border-radius: 10px;
    height: 100%;
}

.fondo {
    margin-bottom: 0;
}

.fondo .btn-lg {
    background-color: darkslategrey;
}

.imagenes a {
    flex: 1;
    margin-left: 15px;
    margin-bottom: 50px;
    color: black;
    transition: 1s
}

.imagenes a:hover {
    opacity: .6;
    text-decoration: none;
    transition: 1s;
}

.imagenes img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px gray;
}

footer {
    text-align: center;
    background-color: darkslategrey;
    padding: 10px;
}